<nav class="navbar navbar-expand-lg navbar-light mt-2 borderBottom mb-4">
    <a class="h5 mb-0 ml-5 " >Azouzi Dali</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown-7" aria-controls="navbarNavDropdown-7" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown-7">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link h6 m-0" >Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
            <a class="nav-link h6 m-0" href="#skills">My skills</a>
          </li>
        <li class="nav-item">
          <a class="nav-link h6 m-0" href="#projects" >Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  m-0 text-success" href="mailto:azouzi_dali@outlouk.com"  >azouzi_dali@outlouk.com</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="https://www.facebook.com/daliazouzii">
            <i class="fa fa-facebook"></i>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="https://www.linkedin.com/in/mohamed-ali-azouzi-129791189/">
            <i class="fa fa-linkedin"></i>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="https://github.com/dali-azouzi">
            <i class="fa fa-github"></i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
